<div class='row'>
        <div class='col-md-3'><br /><br />
        <button ng-click='giveGroupName()'>Create New Group</button><br /><br />
        <div id='groupNameField'>
        <form ng-submit='createRoom()'>
        <input type='text' id='groupName' placeholder="group name" ng-model='groupName'/>
        <button type='submit'>Done</button>
        </form>
        </div>
        <div ng-repeat='participant in participants track by $index' class='well'>

        {{participant.userName}}&nbsp;&nbsp;&nbsp;
        <input type='checkbox' ng-model='key' ng-true-value='{{returnTrue()}}' ng-change='saveInTempArray(participant)' />
        </div>

        <div ng-repeat='group in groups track by $index' class="well" ng-click='startGroupChat(group)'>
        {{group.roomName}}&nbsp;&nbsp;&nbsp;<button class='textButton' ng-click='createRoom(true)'>add members</button>
        </div>

        <button id='makeGroup' class='btn-primary btn' ng-click='createGroup()'>Create group</button><button class='btn-primary btn' ng-click='createGroup()' id='add'>Add</button>
        
        </div>
        
          <div class='col-md-6'>
               <div >{{errormessage}}</div>
               <div ng-repeat='message in messageArray track by $index' >
               <div class='{{message.class}} well' >
               {{message.senderName}}&nbsp;<span> : </span>&nbsp;{{message.msg}}
               </div >
               </div>
               <div class='row'>
               <div class='col-md-4'></div>
               <div class='col-md-4'>
               <div id='putMessage'>
                   <form ng-submit='sendMessage()'> 
                   <input id='message' placeholder='type your message here' class='well'><button type='submit' class='btn-primary btn'>send</button>
                   </form>
               </div>
               </div>
               <div class='col-md-4'></div>
             </div>
          </div>
          <div class='col-md-3' id='onlineUsers'>
                <h2>Online Users</h2> <br />
	            <div ng-repeat='user in userArray track by $index' id='userList' ng-click='startChat(user.userName,user.userId)'>
                <div id='chatUser' class='hvr-grow btn-primary btn'>{{user.userName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge" ng-model='newmsg'>{{newmsg}}</span></div><br />
	            </div>

          </div>

</div>