<!DOCTYPE html>
<html ng-app="myModule" class='container'>
<head>

<title>Let's chat</title>
<header >Let's Chat</header>
<link href='./bootstrap/css/bootstrap.css' type='text/css' rel='stylesheet' />
<link href='./css/chat.css' type='text/css' rel='stylesheet' />
<script src="./socket.io/socket.io.js" type="text/javascript"></script>
<script type='text/javascript' src='./scripts/angular.js'></script>
<script type="text/javascript" src="./scripts/angular-route.js"></script>
<script type="text/javascript" src="./controllers/main.controller.js"></script>
<script type="text/javascript" src="./controllers/home.controller.js"></script>
<script type="text/javascript" src="./services/connect.service.js"></script>
<script type="text/javascript" src="./services/message.service.js"></script>
<script type="text/javascript" src="./services/group.service.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js" type="text/javascript"></script>

</head>

<body ng-controller='mainctrl'>
<div id='login' class='well'>
    <form ng-submit='onLogin()'>
    <input type='text' placeholder='enter user name' ng-model='uName' class='well' style="width:300px"><br/>
    <button type='submit' class='btn-primary btn'>Login</button>&nbsp;&nbsp;<a href='http://www.gmail.com'>forgot user name?</a>
    
    </form>
</div>
<ng-view>  

</ng-view>
<script type="text/javascript">
	var socket=io('/chat');

</script>
</body>

</html>