header{
	background-color: red;
	text-align: center;
	font-size: 50px;
}
#login{
  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 15;
  top: 40%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: white;
  border: 0;
}
#putMessage{
	display:none;
	position: fixed;
	bottom: 50px;
	
	
}
#message{
	height: 50px;
	width: 200px;

}
.my{
 color:red;
 word-wrap: break-word;

}
.other{
	color:blue;
  word-wrap: break-word; 
}
#chatUser{
   cursor: pointer;
   width:250px;


}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

#groupNameField{
  display: none;

}
#makeGroup{
  display: none;
}
input[type='checkbox'] {
    /*-webkit-appearance:none;*/
    width:15px;
    height:15px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.textButton{
    background:none;
    border:none;
    margin:0;
    padding:0;
    float: right;
    color: blue;
}
#add{
  display: none;
}